:root {
    --font-url: 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap';
    --primary-color: rgba(33, 150, 243, 1);
    --secondary-color: #333;
    --background-color-light: #f8f8f8;
    --background-color-dark: #2F303A;
    --border-color: #ddd;
    --button-background: #0066cc;
    --button-background-hover: #005bb5;
    --white: #fff;
    --grey: gray;
    --bg-psevdo: #F5F4FA;
}

/* @import url(var(--font-url)); */

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: var(--background-color-light);
    border-bottom: 1px solid var(--border-color);
    height: 80px;
}

.logo h1 {
    color: var(--primary-color);
    font-family: "Raleway", sans-serif;
}

.logo span {
    color: var(--secondary-color);
}

nav ul {
    list-style: none;
    margin-left: 93px;
    display: flex;
    gap: 50px;
}

nav ul li a {
    color: var(--secondary-color);
}

.contact-info {
    margin-left: 244px;
}

.contact-info a {
    margin-left: 20px;
    text-decoration: none;
    color: var(--secondary-color);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background: var(--background-color-dark);
    color: var(--white);
    text-align: center;
}

.hero-content {
    text-align: center;
}

.hero h1 {
    margin-top: 0;
    font-size: 44px;
    font-weight: 900;
}

.hero button {
    background: var(--button-background);
    color: var(--white);
    width: 216px;
    height: 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
}

.hero button:hover {
    background: var(--button-background-hover);
}

.items-list {
    display: flex;
    gap: 30px;
    margin-top: 94px;
    margin-bottom: 94px;
}

.item-title-first::before {
    content: url("./img/antenna\ 1\ \(3\).png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: var(--bg-psevdo);
    margin-bottom: 30px;
}

.item-title-second::before {
    content: url("./img/clock\ 1\ \(1\).png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: var(--bg-psevdo);
    margin-bottom: 30px;
}

.item-title-third::before {
    content: url("./img/diagram\ 1\ \(1\).png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: var(--bg-psevdo);
    margin-bottom: 30px;
}

.item-title-forth::before {
    content: url("./img/astronaut\ 1\ \(1\).png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: var(--bg-psevdo);
    margin-bottom: 30px;
}

.item {
    width: 270px;
    height: 98px;
}

.item h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.item p {
    font-size: 14px;
    color: var(--grey);
    line-height: 1.71;
    margin-top: 10px;
}

.services {
    padding: 50px 20px;
    text-align: center;
}

.services h2 {
    margin-bottom: 0;
    font-size: 36px;
}

.services .service {
    display: inline-block;
    margin: 50px 30px;
}

.services .service img {
    max-width: 100%;
    height: auto;
}

.team {
    padding: 50px 30px;
    background: rgba(245, 244, 250, 1);
    text-align: center;
}

.team h2 {
    margin-bottom: 40px;
    font-size: 36px;
}

.team .team-member {
    background: var(--white);
    width: 270px;
    height: 386px;
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team .team-member img {
    width: 270px;
    height: auto;
}

.team .team-member h3 {
    margin-top: 30px;
}

.team .team-member p {
    margin-top: 10px;
    color: var(--grey);
}

footer {
    background: var(--background-color-dark);
    color: var(--white);
    padding: 60px 0;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

footer span {
    color: var(--white);
}

.logo span1 {
    color: var(--white);
}

footer address {
    margin: 0;
}

.footer-link {
    color: var(--grey);
}
nav .active {
    color: #007BFF;
}

.contact-info .active {
    color: #007bff;
}
